

  
  main {
  margin-top: 150px; /* Should match the height of the navbar */
}
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px; /* Add spacing between navigation items */
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Remove margin for the last item */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  